<h1>Log In</h1>
<form action="/login" method="post">
  <div>
    <label for="emailInput">Email</label>
  </div>
  <div>
    <input type="email" name="email" id="emailInput" />
  </div>
  <div>
    <label for="passwordInput">Password</label>
  </div>
  <div>
    <input type="password" name="password" id="passwordInput"/>
  </div>
  <button type="submit">Log In</button>
</form>